* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /*va suavemente a las secciones*/
}
:root{
    --main-color:#ff8686;
    --main-color-strong:#ff6666;
    --main-color-text:#4F4538;
    --bg-color:#FFEEDA;
    --bg-color-strong:#FFE6BF;
    --html-color: #e54d26;
    --css-color: #3d8fc6;
    --sass-color:#c69;
    --js-color:#f0db4f;
    --react-color:#61dafb;
    --git-color:#f34f29;
}

html {
    font-family: 'Arima', cursive;
    color: var(--main-color-text);
}
a{
    text-decoration: none;
}

h2,
h3 {
    color: var(--main-color-strong);
    font-size: 1.8em;
    margin-bottom: 20px;
}

body {
    background-color: var(--bg-color);   
}

.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botones a {
    margin: 15px;
}

/* --------HEADER----------- */
header {
    background-color: var(--main-color);
    padding: 10px;
    position: sticky;
    /*para dejar fijo*/
    top: 0;
    z-index: 1;/*para que quede por encima siempre*/
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: end;
}

header li {
    list-style: none;
    padding: 5px;
    margin: 10px;
}

header a {
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

header a:hover {
    background-color: var(--bg-color-strong);
    color: var(--main-color-strong);
    padding: 5px;
    transition: all 0.6s;
}

.fa-moon{
    font-size: 1.6rem;
    margin: 0px 10px;
}

@media (max-width:500px) {
    header ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    header {
        position: relative;
    }

    header li {
        padding: 2px;
        margin: 2px;
        font-size: 0.7em;
    }
    header li:hover{
        background-color: var(--main-color);
        padding:2px;
        text-decoration: underline;
    }
    header a:hover{
        color: #4F4538;
        font-weight: bold;
        background-color: var(--main-color);
    }
    
}

/* -----------SECCION HOLA----------- */
.box-main-section{
    padding-top: 60px;/*para que el enlace hola lo deje bien*/
}
.main-section{
    position: relative;
}
.main-section::before{
    position:absolute;
    content: "";
    top: 0vw;
    left: 90%;
    width: 13vw;
    height: 4vw;
    background-color: var(--main-color-strong);
    opacity: 0.3;
    transform: rotate(45deg);
}
.main-section::after{
    position:absolute;
    content: "";
    top: 0vw;
    right: 90%;
    width: 13vw;
    height: 4vw;
    background-color: var(--main-color-strong);
    opacity: 0.3;
    transform: rotate(-45deg);
} 
.main-section {
    background-color: var(--bg-color-strong);
    min-height: 70vh;/*NO 100 para ver los bordes*/
    /*asi tiene en cuenta la barra de navegación. min por si ocupa mas*/
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4em;
    color: var(--main-color-strong);
    /* box-shadow: 5px 5px 5px 5px rgba(15, 15, 15, .5); */
    border: 2px dotted;
    border-radius: 50px;
    margin: 5%;
}

.main-section h1 {
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
}

.main-section div {
    margin: 15px;
    text-align: center;
}

.description {
    border-radius: 20px;
    overflow:hidden; /*oculta si hay desbordamiento de texto*/
}

.description p {
    max-width: 600px;
    margin-bottom: 15px;
    color: var(--main-color-text);
}

.main-section img {
    width: 400px;
    height: 400px;
    /* background-color: var(--bg-color); */
    /* border-radius: 50%; */
    /* border-color: #f8bc9b; */
    /* border: 2px dotted; */
    transform: scaleX(-1);
}

@media(max-width:1200px){
    .main-section{
        justify-content: center;
    }
}

@media(max-width:500px) and (min-width:300px){
    .main-section img {
        width: 250px;
        height: 250px;
    }
    .main-section{
        font-size: 1em;
        border: 2px dotted;
        border-radius: 15px;
    }
}
@media (max-width:299px){
    .main-section img {
        width: 150px;
        height: 150px;
    }
    .main-section{
        font-size: 0.8em;
        border: 2px dotted;
        border-radius: 10px;
    }
}

.button {
    text-decoration: none;
    background-color: var(--main-color-strong);
    color: white;
    font-weight: bold;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 0.7em;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    border: solid 2px var(--secundary-color);
    cursor: pointer;
}

.button:hover {
    box-shadow: 1px 2px 3px gray;
    transition: all 0.4s;
}

.carita {
    color: var(--main-color-strong);
}

/* --------------SECCION CONOCIMIENTOS----------- */
.box-skills-section{
    padding-top: 50px;
}
.skills-section {
    /* min-height: 88vh; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    /*para dar espacio al header fijo*/
    padding-bottom: 50px;
    background-color: var(--bg-color-strong);
    border: 2px dotted var(--main-color-strong);
    margin: 5%;
    border-radius: 20px;
    position: relative;
}

.skills-section::before{
    position:absolute;
    content: "";
    top: -2vw;
    left: 43%;
    width: 13vw;
    height: 4vw;
    background-color: var(--main-color-strong);
    opacity: 0.3;
    /* transform: rotate(45deg); */
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    /*espacio entre parrafo anterior*/
    max-width: 65rem;
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 20px;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    color: var(--main-color-text);
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

.skill-item:hover{
    border: none;
    font-weight: bold;
    font-size: 1.1em;
}

/* Iconos tecnologias */
.skill-icon{
    font-size: 7rem;
    /* filter: grayscale(35%); */
}
.skill-item:hover .skill-icon{
    filter:grayscale(0%);
}
/* HTML5 */
.fa-html5 {
    color: var(--html-color);
}
.html-item:hover, .html-item:focus{
    color: var(--html-color);
    box-shadow: 1px 1px 3px 5px var(--html-color);
    transition: all 0.4s;
}
.html-item:active{
    box-shadow: 1px 1px 6px 5px var(--html-color);
}
/* CSS3 */
.fa-css3-alt {
    color: var(--css-color);
}
.css-item:hover, .css-item:focus{
    color: var(--css-color);
    box-shadow: 1px 1px 3px 5px var(--css-color);
    transition: all 0.4s;
}
.css-item:active{
    box-shadow: 1px 1px 6px 5px var(--css-color);
}
/* SASS */
.fa-sass {
    color: var(--sass-color);
}
.sass-item:hover, .sass-item:focus{
    color: var(--sass-color);
    box-shadow: 1px 1px 3px 5px var(--sass-color);
    transition: all 0.4s;
}
.sass-item:active{
    box-shadow: 1px 1px 6px 5px var(--sass-color);
}
/* JAVASCRIPT */
.fa-js-square {
    color: var(--js-color);
}
.js-item:hover, .js-item:focus{
    color: var(--js-color);
    box-shadow: 1px 1px 3px 5px var(--js-color);
    transition: all 0.4s;
}
.js-item:active{
    box-shadow: 1px 1px 6px 5px var(--js-color);
}
/* REACT */
.fa-react {
    color: var(--react-color);
}
.react-item:hover, .react-item:focus{
    color: var(--react-color);
    box-shadow: 1px 1px 3px 5px var(--react-color);
    transition: all 0.4s;
}
.react-item:active{
    box-shadow: 1px 1px 6px 5px var(--react-color);
}
/* GIT */
.fa-git-alt {
    color: var(--git-color);
}
.git-item:hover, .git-item:focus{
    color: var(--git-color);
    box-shadow: 1px 1px 3px 5px var(--git-color);
    transition: all 0.4s;
}
.git-item:active{
    box-shadow: 1px 1px 6px 5px var(--git-color);
}

@media (max-width:300px){
    .skill-item{
        width: auto;
        width: 8rem;
        height: 8rem;
        padding: 10%;        
    }
    .skill-icon{
        font-size: 4rem;
    }
}
@media(max-width:600px){
    .skills-section{
        padding: 5% 5%;
    }
}


/* --------------SECCION FRASE---------------- */
.quote-section {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    font-family: 'Arima', cursive;
    padding: 50px;
}

.fa-quote-left {
    font-size: 5rem;
    margin-bottom: 20px;
}

blockquote {
    margin: 15px;
    font-size: 2rem;
}

.autor {
    text-align: end;
    font-size: 1.5rem;
}
@media (max-width:500px){
    .quote-section {
        padding: 15px;
    }
    blockquote{
        font-size: 1.5rem;
        margin: 5px;
    }
}

/* ----------------SECCION MIS PROYECTOS------------------ */
.box-proyects-section{
    padding-top: 50px;
}
.proyects-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*alineo en horizontal todas cajas, funciona solo si tiene widht*/
    padding-top: 50px;
    /*da espacio al header fijo*/
    padding-bottom: 50px;
    background-color: var(--bg-color-strong);
    /* box-shadow: 5px 5px 5px 5px rgba(15, 15, 15, .5); */
    border: 2px dotted var(--main-color-strong);
    margin: 5%;
    border-radius: 20px;
    position: relative;
}
.proyects-section::before{
    position:absolute;
    content: "";
    top: -2vw;
    left: 43%;
    width: 13vw;
    height: 4vw;
    background-color: var(--main-color-strong);
    opacity: 0.3;
    /* transform: rotate(45deg); */
}

.proyects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 900px;
}

.proyect-item {
    width: 260px;
    /* border: gray solid 1px; */
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*centro img en horizontal*/
    justify-content: end;
    margin: 15px;
    /*margen entre cajas*/
    padding: 15px;
    background-color: var(--bg-color);
    color: white;
    cursor: pointer;
}

.proyect-item p {
    margin-top: 15px;
    /*separa img de titulo*/
}

.proyect-item img {
    width: 70%;
}

.proyect-item figcaption{
    background-color: var(--main-color-strong);
    opacity: 0;
    transition: opacity 0.7s;
}

.proyect-item:hover, .proyect-item:focus{
    border: none;
    box-shadow: 0px 3px 5px #f8bc9b;
    transform: translateY(-20px);
    transition: transform 0.7s; /*tiempo en que se desplaza*/
}
.proyect-item:active{
    box-shadow: 2px 6px 7px var(--main-color-strong);
}
.proyect-item:focus figcaption, .proyect-item:hover figcaption{
    opacity: 1;
}


@media (max-width:300px){
    .proyect-item{
        width: auto;        
    }
    
}
@media(max-width:600px){
    .proyects-section{
        padding: 5% 5%;
    }
}

/* ---------------------SECCION CONTACTO------------------ */
.box-contact-section{
    padding-top: 50px;
}
.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-section>div {
    /*hijo directo de la clase*/
    background-color: var(--bg-color-strong);
    border-radius: 20px;
    /* box-shadow: 5px 5px 5px 5px rgba(15, 15, 15, .5); */
    border: 2px dotted var(--main-color-strong);
    text-align: center;
    margin: 3% 1%;
    /**JUGAR CON ESTOOOOO*/
    padding: 50px 30px;
    /*Cuando la caja se achica, el padding tmb en proporcion*/
}
.contact-info p {
    max-width: 400px;
    /*Para que no se haga muy larga la linea*/
    margin: 15px;
    text-align: start;
}
@media(max-width:600px){
    .contact-section>div{
        padding: 5% 5%;
    }
}

/* ---iconos-contacto----- */

.iconos-contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.iconos-contacto a {
    text-decoration: none;
    color: rgb(85, 85, 85);
}


.iconos-contacto a:hover {
    color: var(--main-color-strong);
    transition: color 0.6s;
}


.contact-social-icon {
    color: var(--main-color);
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}

.iconos-contacto a:hover .contact-social-icon{
    color: white;
    color: var(--bg-color);
    background-color: var(--main-color);
    transition: all 0.6s;
}

@media (max-width:300px){
    .ocultar{
        display: none;
    }
    .iconos-contacto{
        align-items: center;
    }
}


/* Seccion Escribime (Formulario) */
.input-control{
    outline-color: var(--main-color);
    background-color: var(--bg-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%; /*se va achicando mientras widht achica*/
    box-shadow: 1px 1px 1px rgba(15, 15, 15, .4);
}
 .input-control:focus{
    box-shadow: 
    inset 1px 1px 4px var(--main-color),
    inset -1px -1px 4px var(--main-color) ;
}
.send-button{
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--main-color-strong);
    color: white;
}
form>div{/*hijo directo*/
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}
form>div label{
    padding: 10px;
}
.asterisco-obigatorio{
    color: var(--main-color-strong);
}
/* -----------------SECCION FOOTER--------------------- */
footer {
    background-color: var(--main-color);
    padding: 50px 0px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    list-style: none;
    margin: 10px;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer li a:hover {
    color: var(--secundary-color);
    font-weight: bolder;
    text-decoration: underline;
}

/*la barra de navegacion footer se pone en vertical*/
@media (max-width:500px) {
    footer ul {
        flex-direction: column;
        align-items: center;
    }
}


/* --------iconos redes-----------  */
.caja-iconos-redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.footer-social-icon {
    color: var(--main-color);
    font-size: 1.5em;
    background-color: white;
    background-color: #FFEEDA;
    margin: 15px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.footer-social-icon:hover {
    background-color: var(--main-color);
    color: white;
    border: solid 1px white;
}

/* ----firma footer--- */
.footer-firma {
    text-align: center;
    color: white;
    padding: 15px;
}

#firma {
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;
    font-weight: bold;
}
