* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#ff8686;
    --main-color-strong:#ff6666;
    --main-color-text:rgb(100, 100, 100);
    --secundary-color:#3B3351;
}

html {
    font-family: 'Arima', cursive;
    color: var(--main-color-text);
}
a{
    text-decoration: none;
}

h2,
h3 {
    color: var(--main-color-strong);
    font-size: 1.8em;
    margin-bottom: 20px;
}

body {
    background-color: var(--secundary-color);
    background-color: white;
    background-color: #f6d1de;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botones a {
    margin: 15px;
}

/* --------HEADER----------- */
header {
    background-color: var(--main-color);
    padding: 10px;
    position: sticky;
    /*para dejar fijo*/
    top: 0;
    z-index: 1;/*para que quede por encima siempre*/
}

header ul {
    display: flex;
    justify-content: end;
}

header li {
    border-radius: 20px;
    list-style: none;
    padding: 5px;
    margin: 10px;
}

header a {
    text-decoration: none;
    color: white;
}

header li:hover {
    background-color: var(--secundary-color);
    padding: 5px;
}

@media (max-width:500px) {
    header ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        position: relative;
    }

    header li {
        padding: 2px;
        margin: 2px;
    }
    header li:hover{
        background-color: var(--main-color);
        padding:2px;
        text-decoration: underline;
    }
    header a:hover{
        color: var(--secundary-color);
        font-weight: bold;
    }
    
}

/* -----------SECCION HOLA----------- */
.main-section {
    /* background-color: #f8e6cb; */
    background-color: white;
    /* background-color: #eef6b0; */
    background-color: antiquewhite;
    background-color: #f6d1de;
    min-height: 100vh;
    /*asi tiene en cuenta la barra de navegación. min por si ocupa mas*/
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.7em;
    color: var(--main-color-strong);
    box-shadow: 5px 5px 5px 5px rgba(15, 15, 15, .5);
    margin: 5%;
    border-radius: 20px;
}

.main-section h1 {
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
}

.main-section div {
    margin: 15px;
    text-align: center;
}

.description {
    border-radius: 20px;
}

.description p {
    max-width: 600px;
    margin-bottom: 15px;
    color: var(--main-color-text);
}

/* .foto-perfil {

     border-radius: 50%;
    border-color: #f8bc9b;
    border-style: dashed; 
} */

.main-section img {
    width: 400px;
    height: 400px;
    /* background-color: white; */
    border-radius: 50%;
    border-color: #f8bc9b;
    border: 5px dashed;
}

@media(max-width:500px) and (min-width:300px){
    .main-section img {
        width: 250px;
        height: 250px;
    }
}
@media (max-width:299px){
    .main-section img {
        width: 150px;
        height: 150px;
    }
    .main-section{
        font-size: 1.2em;
    }
}

.button {
    text-decoration: none;
    background-color: var(--main-color-strong);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    border: solid 2px var(--secundary-color);
    cursor: pointer;
}

.button:hover {
    box-shadow: 1px 2px black;
}

.carita {
    color: var(--main-color-strong);
}

/* --------------SECCION CONOCIMIENTOS----------- */
.skills-section {
    /* min-height: 88vh; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    /*para dar espacio al header fijo*/
    padding-bottom: 50px;
     background-color: whitesmoke;
    background-color: #b0f6f2;
    background-color: white; 
    /* background-color: var(--secundary-color); */
    /* margin: 20px; */
    box-shadow: 5px 5px 5px 5px rgba(15, 15, 15, .5);
    margin: 5%;
    border-radius: 20px;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    /*espacio entre parrafo anterior*/
    max-width: 65rem;
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 15px;
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

.skill-item:hover{
    border: none;
    box-shadow: 0px 3px 5px #f8bc9b;
    font-weight: bold;
    font-size: 1.1em;
}

/* Iconos tecnologias */
.skill-icon{
    font-size: 6rem;
    filter: grayscale(35%);
}
.skill-item:hover .skill-icon{
    filter:grayscale(0%);
}
.fa-html5 {
    color: #e54d26;
}
.html-item:hover{
    box-shadow: 1px 1px 3px 5px #e54d26;
}
.fa-css3-alt {
    color: #3d8fc6;
}
.css-item:hover{
    box-shadow: 1px 1px 3px 5px #3d8fc6;
}
.fa-sass {
    color: #c69;
}
.sass-item:hover{
    box-shadow: 1px 1px 3px 5px #c69;
}
.fa-js-square {
    color: #f0db4f;
}
.js-item:hover{
    box-shadow: 1px 1px 3px 5px #f0db4f;
}
.fa-react {
    color: #61dafb;
}
.react-item:hover{
    box-shadow: 1px 1px 3px 5px #61dafb;
}
.fa-git-alt {
    color: #f34f29;
}
.git-item:hover{
    box-shadow: 1px 1px 3px 5px #f34f29;
}

@media (max-width:300px){
    .skill-item{
        width: auto;
        width: 8rem;
        height: 8rem;
        padding: 10%;        
    }
    .skill-icon{
        font-size: 4rem;
    }
}


/* --------------SECCION FRASE---------------- */
.quote-section {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    font-family: 'Arima', cursive;
    padding: 50px;
}

.fa-quote-left {
    font-size: 5rem;
    margin-bottom: 20px;
}

blockquote {
    margin: 15px;
    font-size: 2rem;
}

.autor {
    text-align: end;
    font-size: 1.5rem;
}
@media (max-width:300px){
    .quote-section {
        padding: 15px;
    }
    blockquote{
        font-size: 1.5rem;
        margin: 5px;
    }
}

/* ----------------SECCION MIS PROYECTOS------------------ */
.proyects-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*alineo en horizontal todas cajas, funciona solo si tiene widht*/
    padding-top: 100px;
    /*da espacio al header fijo*/
    padding-bottom: 50px;
    /* background-color: white; */
    background-color: var(--secundary-color);
    background-color: #f6d1de;
    box-shadow: 5px 5px 5px 5px rgba(15, 15, 15, .5);
    margin: 5%;
    border-radius: 20px;
}

.proyects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 900px;
}

.proyect-item {
    width: 260px;
    /* border: gray solid 1px; */
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*centro img en horizontal*/
    justify-content: end;
    margin: 15px;
    /*margen entre cajas*/
    padding: 15px;
    background-color: white;
    color: white;
    cursor: pointer;
}

.proyect-item p {
    margin-top: 15px;
    /*separa img de titulo*/
}

.proyect-item img {
    width: 70%;
}

.proyect-item figcaption{
    background-color: var(--main-color-strong);
    opacity: 0;
    transition: opacity 0.7s;
}

/* .proyect-item:hover {
    
} */
.proyect-item:hover{
    border: none;
    box-shadow: 0px 3px 5px #f8bc9b;
    transform: translateY(-20px);
    transition: transform 0.7s; /*tiempo en que se desplaza*/
}
.proyect-item:active{
    box-shadow: 2px 6px 7px var(--main-color-strong);
}
.proyect-item:hover figcaption{
    opacity: 1;
}

@media (max-width:300px){
    .proyect-item{
        width: auto;        
    }
}

/* ---------------------SECCION CONTACTO------------------ */
.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.contact-section>div {
    /*hijo directo de la clase*/
    background-color: white;
    background-color: #b0f6f2;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(15, 15, 15, .5);
    text-align: center;
    margin: 3%;
    /**JUGAR CON ESTOOOOO*/
    padding: 5% 7%;
    /*Cuando la caja se achica, el padding tmb en proporcion*/

}

.contact-info p {
    max-width: 400px;
    /*Para que no se haga muy larga la linea*/
    margin: 15px;
    text-align: start;
}

/* ---iconos-contacto----- */

.iconos-contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.iconos-contacto a {
    text-decoration: none;
    color: rgb(85, 85, 85);
}


.iconos-contacto a:hover {
    color: var(--main-color-strong);
    transition: color 0.6s;
}


.contact-social-icon {
    color: var(--main-color);
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}

.iconos-contacto a:hover .contact-social-icon{
    color: white;
    background-color: var(--main-color);
    transition: all 0.6s;
}

@media (max-width:300px){
    .ocultar{
        display: none;
    }
    .iconos-contacto{
        align-items: center;
    }
}


/* Seccion Escribime (Formulario) */
.input-control{
    outline-color: var(--main-color);
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%; /*se va achicando mientras widht achica*/
    box-shadow: 1px 1px 1px rgba(15, 15, 15, .4);
}

.send-button{
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--main-color-strong);
    color: white;
}
form>div{/*hijo directo*/
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}
form>div label{
    padding: 10px;
}
.asterisco-obigatorio{
    color: var(--main-color-strong);
}
/* -----------------SECCION FOOTER--------------------- */
footer {
    background-color: var(--main-color);
    padding: 50px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    list-style: none;
    margin: 10px;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer li a:hover {
    color: var(--secundary-color);
    font-weight: bolder;
    text-decoration: underline;
}

/*la barra de navegacion footer se pone en vertical*/
@media (max-width:500px) {
    footer ul {
        flex-direction: column;
        align-items: center;
    }
}


/* --------iconos redes-----------  */
.caja-iconos-redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.footer-social-icon {
    color: var(--main-color);
    font-size: 1.5em;
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.footer-social-icon:hover {
    background-color: var(--main-color);
    color: white;
    border: solid 1px white;
}

/* ----firma footer--- */
.footer-firma {
    text-align: center;
    color: white;
    padding: 15px;
}

#firma {
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;
    font-weight: bold;
}
